# API
API_URL=https://api.x-downloader.com/request
DEFAULT_VIDEO_TYPE=.mp4
DEFAULT_TITLE=No Title
DEFAULT_DESCRIPTION=No Description

# Telegram
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=
PRIVATE_CHANNEL_ID=
PARSE_MODE=Markdown

# App
APPROACH_ID=6

# Twitter
TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=
TWITTER_USER_ID=
TWITTER_URL=

# Database
DB_FILE=video_logs.db
